[Unit]
Description=QEMU virtual machine
After=vgpu.service network.target

[Service]
Type=simple
Environment="type=system-x86_64" "haltcmd=kill -INT "
ExecStart=/var/vm/scripts/start-qemu.sh %i
ExecStop=/bin/sh -c 
TimeoutStopSec=30
KillMode=none

[Install]
WantedBy=multi-user.target
